<header class="">
<div class="flex justify-between items-center px-4 md:px-0 gap-4">

    <div class="lg:hidden block">
        <button (click)="toggleSidebar.emit()">
            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
          </svg>
        </button>
    </div>

    <div class="border border-neutral-300 rounded-xl md:w-3/6 w-full flex items-center gap-4 px-4">
        <svg xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="w-6 h-6 text-neutral-300">
          <circle cx="11" cy="11" r="8"></circle>
          <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
        </svg>
        <input type="text" placeholder="Search or type command" class="w-full py-2 focus:outline-none focus:ring-0 focus:ring-transparent focus:border-transparent" />
      </div> 
      
      <div class="sidebar-user">
        <div class="rounded-full p-4 border border-neutral-200/80">
          <app-theme /> 
        </div>
        <div class="rounded-full p-4 border border-neutral-200/80 relative">
          <div class="w-2.5 h-2.5 rounded-full bg-orange-500 absolute top-1.5 right-1"></div>
          <img class="user-avatar" [src]="alarm" />
        </div>
        <div class="rounded-full p-4 border border-neutral-200/80">
          <img class="user-avatar" [src]="user.avatar" [alt]="user.name" class="object-cover overflow-hidden rounded-full">
        </div>

        <span class="hidden md:block">{{ user.name }}</span>  
        <svg class="w-4 h-4 transition-transform duration-200"  fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
        </svg>     
    </div>
</div>
</header>