<div class="p-4 bg-white mt-5 rounded-lg">
    <div class="flex justify-between">
        <div class="flex gap-4 items-center ">
            <p>Show</p>
            <div class="border p-4 rounded-xl dark:text-neutral-900">
                <select>
                    <option value="12">12</option>
                </select>
            </div>
            <p>Entries</p>
        </div>
        <div class="border border-neutral-300 rounded-xl md:w-3/6 w-full flex items-center gap-4 px-4">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-6 h-6 text-neutral-300">
                <circle cx="11" cy="11" r="8"></circle>
                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
            </svg>
            <input type="text" placeholder="Search transactions"
                class="w-full py-2 focus:outline-none focus:ring-0 focus:ring-transparent focus:border-transparent" />
        </div>
    </div>
    <div class="border-b border-neutral-200/70 mt-4"></div>
    <ng-content #name></ng-content>
    <div class="border-b border-neutral-200/70 mb-4"></div>
    <div class="flex justify-between items-center py-3">
        <p class="text-lg text-neutral-500">Showing 1 to 12 of 32 entires</p>

        <div class="flex gap-4 items-center ">
            <div class="border p-4 rounded-xl dark:text-neutral-900">
                Previous
            </div>
            <div class="w-fit p-4 rounded-xl bg-red-600 text-white">
                1
            </div>
            <div class="w-fit p-4 rounded-xl">
                2
            </div>
            <div class="border p-4 rounded-xl dark:text-neutral-900">
                Next
            </div>
        </div>

    </div>
</div>