<div class="flex justify-between items-center">
    <div class="flex flex-col gap-">
        <p class="md:text-3xl py-2 text-lg font-medium">All Users</p>
        <app-breadcrumbs [urls]="breadcrumbs || []" />
    </div>
    <div class="w-fit p-4 rounded-xl bg-red-600 text-white">
        + Add Users
    </div>
</div>
<app-container title="Resent Store" [entity]=true>
    <app-request-table [headers]="tableHeaders" [data]="users" [showCheckbox]="true" [showActions]="true"
        (rowClick)="handleRowClick($event)" (actionClick)="handleActionClick($event)"
       />
</app-container>