

@import "./assets/theme/font.scss";
@import "./assets/theme/theme.scss";
@import "./assets/theme/animate.scss";
@import "tailwindcss";

@custom-variant hover (&:hover);
@custom-variant dark (&:where(.dark, .dark *));
